

.images{
    width: 5%;
   
}

.container{
    margin-top: 200px;
    margin-left: 800px;
}

.content{
    border: 3px solid rgb(3, 3, 3);
    border-radius: 15px;
    padding: 50px;
    width:50%
}

input{
    width: 100%;
    border: none;
    font-weight: bold;
}

.Nav_link{
    font-weight: bold;
    font-size: large;
    text-decoration: none;
  }