* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    width: 100%;
    height: 100vh; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* 0px to 320 px display */

@media screen and (min-width: 0px) and (max-width: 320px) {
    .yellow-container {
        width: 80%;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .pink-container {
        width: 80%;
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .blue-container {
        width: 80%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .yellow-child {
        width: 100%;
        height: 45%;
        background-color: yellow;
    }

    .pink-child {
        width: 100%;
        height: 95%;
        background-color: rgb(240, 44, 142);
    }

    .blue-child {
        width: 100%;
        height: 45%;
        background-color: blue;
    }

    .blue-child-hidden {
        display: none;
    }
}


/* 320px to 768px display */

@media screen and (min-width: 320px) and (max-width: 768px) {
    .yellow-container {
        width: 80%;
        height: 25%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .pink-container {
        width: 80%;
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .blue-container {
        width: 80%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .yellow-child {
        width: 49%;
        height: 95%;
        background-color: yellow;
    }

    .pink-child {
        width: 100%;
        height: 95%;
        background-color: rgb(240, 26, 122);
    }

    .blue-child {
        width: 100%;
        height: 45%;
        background-color: blue;
    }

    .blue-child-hidden {
        display: none;
    }
}


/* 768px to upper display */

@media screen and (min-width: 768px) {
    .yellow-container {
        width: 80%;
        height: 25%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .pink-container {
        width: 80%;
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .blue-container {
        width: 80%;
        height: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .yellow-child {
        width: 49%;
        height: 95%;
        background-color: yellow;
    }

    .pink-child {
        width: 100%;
        height: 95%;
        background-color: rgb(248, 52, 117);
    }

    .blue-child {
        width: 33%;
        height: 95%;
        background-color: blue;
    }

    .blue-child-hidden {
        display: block;
        width: 33%;
        height: 95%;
        background-color: blue;
    }
}
