.PostFooter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0px 3px;
    margin-top: 2px;
}

.likebtn {
    display: flex;
    width: 100%;
    color: grey;
}
button.wpO6b {
    width: 5%;
    background-color: white;
    border: none;

}
.date {
    width: 90%;
    display: flex;
    justify-content: end;
    margin-right: 15px;
}
.like{
    margin-left: 2px;
}

.likeinfo {
    margin-left: 10px;
    color: grey;
    font-weight: 600;
}
.discription {
    margin-left: 10px;
    font-size: initial;
    font-weight: 500;
}

