.PostHeader>* {
    width: 50%;
}
.PostHeader {
    display: flex;
    width: 100%;
}
.name {
    display: flex;
    flex-direction: column;
    height: 54px;
    align-items: flex-start;
    margin-left: 12px;
    margin-top: 5px;
}
p.namelocation {
    height: 10px;
    margin: 5px;
    font-weight: 700;
    font-size: large;
}
.location{
    height: 10px;
    margin: 5px;
    color: grey;
    font-weight: 400;
}
.dot {
    display: flex;
    justify-content: end;
    margin-right: 13px;
    font-weight: 900;
}