.container {
  background-color: rgb(233, 233, 233);
  box-shadow: #000000;
  padding: 20px;
  border-radius: 10px;
  width: fit-content;
  margin: 20px auto;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

h1 {
  color: rgb(0, 132, 255);
  font-size: 26px;
}


p {
  color: #585858;
  margin: 0px 0px;
  font-size: 12px;
}

h2 {
  margin: 0px 0px;
  font-size: 20px;
}

.main {
  margin-bottom: 10px;
}