.container {
  padding: 0;
  margin: 0;
}

.container {
  width: 30vw;
  display: flex;
  flex-direction: column;  
  justify-content: flex-start;
  margin: 20px 20px 20px 20px;
  line-height: 20px;
  border: 5px solid rgb(10, 98, 128);
}

.box{
  margin:20px 30px;
}
.image {
  width: 100%;
  height: auto;

}


.profile-image {
  height: 200px;
  width: 300px;
  border:none;
  border-radius: 10px;

}

.main_name {
  font-weight: 700;
  font-size: 3rem;
  color: rgb(22, 167, 224);


}

.Address p, .BloodGroup p, .age p {
  color: grey;
}

.Address h3, .BloodGroup h3, .age h3  {
  font-size: 3vh;
}

.Address, .BloodGroup, .age {
  line-height: 5px;
}
