.container {
    width: 350px;
    height: 650px;
    margin-left: 560px;
    margin-top: 30px;
    background-color: transparent;
    border: solid rgb(228, 22, 228);
    border-radius: 10px;
}

.img1 {
    width: 290px;
    padding: 29px;
    border-radius: 40px;
}

.name {
    font-weight: 900;
    font-size: 40px;
    padding: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-style: oblique;
    color: #00488E;
}

.static {
    padding-left: 25px;
    font-weight: 700;
    color: #767676;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dynamic {
    padding-left: 25px;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
}