body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.container {
  width: 250px;
  overflow-wrap: break-word;
  border: 3px solid #187039;
  padding: 10px 0px;
  margin-left: 5px;
  margin-top: 5px;
  
}

.employeeImg{
  width: calc(100% - 50px);
  margin-left: 25px;
  margin-top: 5px;
  border-radius: 10px;
 
  


}
.employeeNmae {
  margin-left: 25px;
  font-size: 24px;
  color: #54a5FB;
  font-weight: 700;
}
.employeeName{
  
  
  
  margin-left: 25px;
}

.employeeDetailWrapper{
  margin-top: 10px;
  margin-left: 25px;
}
.employeeDetailLbl{
  color: #bbb;
  font-size: 12px;
}
